.list{
    padding-top: 20px;
    overflow: hidden;
}
.list>li{
    padding: 30px 30px 0 30px;
    height: 262px;
    border-bottom: 2px solid #ade0cf;
}
.list>li>div{
    float: left;
}
.list>li>div:nth-of-type(1){
    width: 230px;
    height: 230px;
    border: 1px solid #b2b2b2;
    margin-right: 30px;
}
.list>li>div:nth-of-type(2){
    width: 398px;
    height: 232px;
}
.list>li>div:nth-of-type(2) h6{
    font-size: 28px;
    width: 300px;
    line-height: 32px;
    vertical-align: top;
}
.list>li>div:nth-of-type(2) h6 span{
    font-size: 22px;
}
.list-content{
    line-height: 80px;
}
.list-content span:nth-of-type(1){
    font-size: 16px;
    vertical-align: middle;
    margin-right: 75px;
}
.list-content span:nth-of-type(2){
    font-size: 22px;
    vertical-align: middle;
    margin-right: 20px;
    color: #ff9d00;
}
.list-content span:nth-of-type(3){
    font-size: 22px;
    vertical-align: middle;
    color: #666;
}
.list-content em{
    margin-right: 6px;
}
.list-footer{
    width: 360px;
    height: 48px;
    font-size: 28px;
}
.list-footer span{
    float: right;
    display: block;
    margin-left: 30px;
    width: 150px;
    height: 48px;
    background: #ff9d00;
    text-align: center;
    line-height: 48px;
    color: #fff;
}