.box{
    width: 660px;
    margin: 0 30px;
    overflow: hidden;
}
.details{
    position: relative;
    width: 660px;
    height: 190px;
}
.details::before{
    position: absolute;
    top: 47px;
    right: 160px;
    content: '';
    width: 1px;
    height: 95px;
    background: #e5e5e5;
}
.details>h3{
    float: left;
    width: 446px;
    margin-top: 47px;
    font-size: 25px;
}
.details>em{
    position: absolute;
    left: 0;
    bottom: 50px;
    font-size: 29px;
    color: #ff9c00;
}
.details>em>span{
    margin-right: 17px;
}
.details>em>i{
    display: inline-block;
    margin-left: 17px;
    width: 92px;
    height: 27px;
    border: 1px solid #ff9c00;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    vertical-align: middle;
}
.details>strong{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 15px;
    font-size: 18px;
    color: #8b8b8b;
}
.details>strong:before{
    position: absolute;
    left: 0;
    top: 10px; 
    width: 140px;
    height: 2px;
    content: '';
    background: #000!important;
}
.details>strong>i{
    margin-right: 10px;
}
.details>div{
    position: absolute;
    top: 47px;
    right: 47px;
    width: 66px;
    height: 88px;
    margin-top: 8px;
    color: #ff9c00;
    text-align: center;
}
.details>div>i{
    font-size: 55px;
}
.details>div>span{
    display: block;
    margin-top: 5px;
    font-size: 23px;
}
.details+ul{
    width: 660px;
    height: 64px;
    font-size: 18px;
    color: #838383;
    background: #f2f2f2;
}
.details+ul>li{
    float: left;
    width: 165px;
    text-align: center;
    line-height: 64px;
}
.details+ul+div,.details+ul+div+div{
    position: relative;
    width: 652px;
    height: 80px;
    line-height: 80px;
    margin-left: 8px;
    font-size: 20px;
    color: #585858;
    text-indent: 10px;
}
.details+ul+div+div{
    background: #e5e5e5;
    border-top:1px solid #cecece;
    border-bottom: 1px solid #cecece;
    height: 78px!important;
    line-height: 78px!important;
}
.details+ul+div>i,.details+ul+div+div>i{
    line-height: 80px;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
}
.comment{
    width: 660px;
    overflow: hidden;
}
.comment>h3{
    position: relative;
    width: 660px;
    height: 60px;
    margin-top: 80px;
    text-align: center;
    font-size: 23px;
}
.comment>h3 i{
    font-size: 30px;
    margin-right: 6px;
}
.comment>h3:before{
    position: absolute;
    top: 14px;
    left: 210px;
    width: 73px;
    height: 1px;
    content: '';
    background: #cccccc;
}
.comment>h3:after{
    position: absolute;
    top: 14px;
    right: 210px;
    width: 73px;
    height: 1px;
    content: '';
    background: #cccccc;
}
.user-total{
    width: 530px;
    overflow: hidden;
    margin-top: 36px;
}
.user-total li{
    float: left;
    font-size: 20px;
    line-height: 40px;
    margin: 0 38px 30px 0;
    padding: 0 10px;
    border-radius: 20px;
    background: #f7daac;
}
.user-total li:nth-last-child(1){
    background: #e5e5e5;
}
.user-comment{
    width: 660px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 16px;
}
.user-comment>li{
    position: relative;
    width: 660px;
    height: 106px;
    margin-bottom: 25px;
}
.user-comment>li div{
    display:flex;
    align-items: center;
}
.user-comment>li div em{
    text-indent: 13px;
}
.icon-xin{
    font-size: 20px;
    color: #f00;
    margin-left: 5px;
    vertical-align: bottom;
}
.user-comment>li p{
    width: 640px;
    font-size: 17px;
    line-height: 26px;
}
.user-comment+div{
    margin: 0 auto 50px;
    width: 202px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #ff9c00;
    border-radius: 53px;
}
.details-info{
    display: flex;
    align-items: center;
    width: 660px;
    height: 155px;
}
.details-info li{
    float: left;
    width: 151px;
    height: 71px;
    border: 1px solid #000;
    margin-right: 100px;
    border-radius: 71px;
    font-size: 28px;
    text-align: center;
    line-height: 71px;
}
.details-info li:nth-last-child(1){
    margin-right: 0!important;
}
.comment img{
    margin-bottom: 10px;
}
.comment img:nth-last-child(1){
    margin-bottom: 185px;
}
.footer{
    width: 660px;
    height: 100px;
    padding: 0 30px;
    background: #ade0cf;
    font-size: 23px;
}
.footer li{
    float: left;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-align: center;
}
.icon-kefu,.icon-shoucangjia{
    font-size: 41px;
}
.footer li:nth-of-type(3),.footer li:nth-of-type(4){
    width: 180px;
    margin-left: 25px;
    font-size: 26px;
}
.footer li:nth-of-type(3){
    background: #00ab72;
}
.footer li:nth-of-type(4){
    background: #ff9c00;
}